body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 5px;
  display: block;
}

.totalTime-clock {
  font-size: 12px;
  text-align: left;
  font-family: 'Open Sans Condensed', sans-serif;
  position: relative;
  left: 0px
}

.satusLabel {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

#btnStop {
  position: absolute;
  margin: 5px;

}

div#clockControls {
  position: absolute;
  left: 30%;
  top: 2%;
  display: block;

}

/* Importing Open Sans Condensed Google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

.digital-clock {
  width: 70%;
  position: absolute;
  left: 15%;
  /* margin: auto; */
  /* padding-top: 1px; */
  /* padding-bottom: 1px; */
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 36px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.idle-clock {
  background-color: #fffffff8;
  color: #000000f8;
}

.work-clock {
  background-color: #000000f3;
  color: #fffffff8;
}

.extendedWork-clock {
  background-color: #e9700df3;
  color: #fffffff8;
}

.cooldown-clock {
  background-color: #059900f3;
  color: #000000f8;
}

.interruption-clock {
  background-color: #ac051bf5;
  color: #020000f8;
}

div#conf {
  display: inline;
  position: absolute;
  right: 2px;
  top: 1px;
}

#muteIcon {
  /* margin: 0 2.5%; */
  /* position: absolute;
  right: 50px; */
  width: 25px;
  height: 25px;
}

div#taskNameInput {
  position: relative;
  top: 40px;
}

input#inputTask {
  width: 98%;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}


.numberSelector {
  width: 30px;
}


.taskUpdated {
  color: #2d961ff8;

}

.taskNonUpdated {
  color: #aa0909f8;

}


div#divHistory {
  position: relative;
  top: 35px;
  width: 98%;
  margin: auto;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12px;
  text-align: center;
  border: #000000f3, 1px;

}

table {
  width: 100%;
  border: 3px;
}

thead {
  display: table;
  table-layout: fixed;
  width: 100%;
}


tbody {
  display: block;
  width: 100%;
  height: 113px;
  overflow-y: visible;
  /* Trigger vertical scroll    */
  overflow-x: hidden;
  /* Hide the horizontal scroll */
}

tbody td,
thead th {
  width: 100px;
  /* Optional */
  text-align: left;

}

.ongoing {
  background-color: lightseagreen;
}