name: Publish
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Create the package
        run: |
          npm run make 

      # - name: Create Draft Release
      #   id: create_release
      #   uses: actions/create-release@v1
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   with:
      #     tag_name: test
      #     release_name: tag
      #     draft: true
      #     prerelease: false

      - uses: actions/upload-artifact@v3
        with:
          name: tomodoro.zip
          path: ./out/make/zip/**/**/tomodoro-**.zip

